body{
    display: grid;
    grid-template-rows: 1fr auto;  
    grid-template-columns: 1fr 3fr 7fr 1fr; 
    font-family: Roboto;
    margin: 0px; 
}

.header{
    background-color: darkcyan;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.name{
    margin: 0px;
    color: white;
}

.text-box{
    margin: 50px;
    border: white;
    box-shadow: 2px;
    
}

.pic{
    border-radius: 50%;
    height: 150px;
}
.flex-grid{
    display: flex;
    flex-direction: row;
}
.contact-bar{
    grid-column-start: 2;
    grid-column-end: 3;
    padding:40px;
    background-color: lightgray;
    text-align: center;   
}



.contact-box{
    text-align: left;
    font-size: 14px;
    color: dimgray;
}

.main-bar{
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.main-bar__blocks{
    margin: 10px;
    width: 45vw;
}
a,p,ul{
    color: dimgray;
}

.main-heading{
    font-size: 24px;
    color: darkcyan;
}


.icons{
    height:20px;
}

.social{
    margin: 10px;
}
.date{
  float:left;
  padding-right:40px;
  display:inline-block
}

