.body{
    display: grid;
    grid-template-rows: 10vw 40vw;    
    font-family: Roboto;
    margin: 0px;
    
}


.header{
    background-color: darkcyan;
    grid-column-start: 1/span 2;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.name{
    margin: 0px;
    color: white;
}

.text-box{
    margin: 50px;
    border: white;
    box-shadow: 2px;
    
}

.pic{
    border-radius: 50%;
    height: 150px;
}
.flex-grid{
    display: flex;
    flex-direction: row;
}
.contact-bar{

    margin-left: 40px;
    padding:40px;
    background-color: lightgray;
    width: 20vw;
    text-align: center;
    
}



.contact-box{
    text-align: left;
    font-size: 14px;
    color: dimgray;
}

.main-bar{
    margin-right: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.main-bar__blocks{
    margin: 10px;
    width: 45vw;
}
a,p,ul{
    color: dimgray;
}

.main-heading{
    font-size: 24px;
    color: darkcyan;
}


.icons{
    height:20px;
    margin: 2px;
}

